
.icon-crowedfunding:before { content: '\e800'; } /* '' */
.icon-donation:before { content: '\e801'; } /* '' */
.icon-drag-01:before { content: '\e802'; } /* '' */
.icon-mobile-auction:before { content: '\e803'; } /* '' */
.icon-movie-tickets-01:before { content: '\e804'; } /* '' */
.icon-event-01:before { content: '\e805'; } /* '' */